
body{
    background-color:#fff;
    height: 20%;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 3rem;
    font-family: 'Martel Sans', sans-serif;
    font-size: 2rem;
    background-color: #fff;
}

.Icons{
    font-size: 60px;
    background-color:#fff;
    color: #D00000;
   
  }

.navbar{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    padding: 0 2rem;
    margin-bottom: 2rem;
    font-size:2.5 rem;
    letter-spacing: 2px;
    font-weight: 500;
}
.home{
    flex: 0.8;
}
.header-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 3rem;
}
.header-bottom  p {
   flex:0.5;
   font-size: 1.5rem;
   font-style: italic;
}

.legend{
    padding : 2rem;
    color : #fff;
}
.good{
    background-color: #00A075
}
.fair{
    background-color: #FFA647
}
.poor{
    background-color: #D00000;
}