.main-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 140px;
    border-radius: 8px;
    margin-top:200px;
    width: 30%;
    background-color: #d00000;
  }
  .footer-text{
    display: grid;
    place-items: center;
    width: 100%;
    font-size: 2rem;
    color : #fff;
  }